body {
    background-color: rgb(103, 173, 168);
    text-align: center;
    margin-top: 120px;
    font-family: Arial;  
}
h1 {
    color: rgb(17, 13, 13);
}
input {
    padding: 6px;  
} 
button {
    background-color: rgb(149, 160, 149);
    color: rgb(185, 24, 158);
    padding: 6px 10px;
    border: none;   
    cursor: pointer;  /
}
{
    margin-top: 15px;
    color: blue;
    font-size: 18px;  
 } 